<div class="container">
    <div class="row justify-content-md-around">
        <div class="col-md-8 align-self-md-center">
            <h2 class="text-uppercase">Haben Sie weitere Frage ?</h2>
            <p class="lead g-mb-20 g-mb-0--md">klicken Sie auf den Button und füllen Sie das Kontaktformular aus.</p>
        </div>

        <div class="col-md-4 align-self-md-center text-md-center">
            <a class="btn btn-xl u-btn-salmon text-uppercase g-font-weight-600 g-font-size-12 rounded g-mr-15 g-mb-10 g-mb-0--sm" href="/kontakt/">Kontakt</a>
        </div>
    </div>
</div>