{% extends 'base.html.twig' %}

{% block content %}
    <section class="container g-pt-100 g-pb-40">
        <div class="row justify-content-between">
            <div class="col-lg-7 g-mb-60">
                <h2 class="h3">{{ content.title2 }}</h2>
                <p class="g-color-gray-dark-v3 g-font-size-16">{{ content.title3 }}</p>

                <hr class="g-my-40">

                <!-- Contact Form -->
                <form id="fr-contact-form">
                    <div class="g-mb-20 form-group has-danger">
                        <label class="form-control-label g-color-gray-dark-v2 g-font-weight-600 g-font-size-13" for="fr-contact-name">Name: <span class="g-color-red">*</span>
                        </label>
                        <input class="form-control form-control-danger g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-primary--focus g-brd-gray-light-v4 rounded-3 g-py-13 g-px-15" id="fr-contact-name" type="text">
                        <div class="form-control-feedback" id="fr-contact-feedback-name"></div>
                    </div>

                    <div class="g-mb-20 form-group">
                        <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Email: <span class="g-color-red">*</span>
                        </label>
                        <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-primary--focus g-brd-gray-light-v4 rounded-3 g-py-13 g-px-15" id="fr-contact-email" type="email">
                        <div class="form-control-feedback" id="fr-contact-feedback-email"></div>
                    </div>

                    <div class="g-mb-20 form-group">
                        <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Nachricht: <span class="g-color-red">*</span>
                        </label>
                        <textarea class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-primary--focus g-brd-gray-light-v4 g-resize-none rounded-3 g-py-13 g-px-15" id="fr-contact-message" rows="7"></textarea>
                        <div class="form-control-feedback" id="fr-contact-feedback-message"></div>
                    </div>
                    {# Honey pott #}
                    <div class="g-mb-20 form-group form-group-pdm">
                        <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13" for="fr-contact-name-pdm"></label>
                        <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-primary--focus g-brd-gray-light-v4 rounded-3 g-py-13 g-px-15" autocomplete="off" type="text" id="fr-contact-name-pdm" name="name" placeholder="Deine Name hier">
                        <div class="form-control-feedback" id="fr-contact-feedback-pdm"></div>
                    </div>
                    <div class="g-mb-20 form-group form-group-pdm">
                        <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13" for="fr-contact-email-pdm"></label>
                        <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-primary--focus g-brd-gray-light-v4 rounded-3 g-py-13 g-px-15" autocomplete="off" type="email" id="fr-contact-email-pdm" name="email" placeholder="Deine e-mail hier">
                        <div class="form-control-feedback" id="fr-contact-feedback-pdm2"></div>
                    </div>
                    <div class="g-mb-40"><span class="g-color-red">*</span> Die folgenden Felder sind erforderlich</div>
                    <div class="g-mb-20 form-group">
                        <div class="g-recaptcha" data-sitekey="{{ recaptchaPublicKey }}"></div>
                        <div class="form-control-feedback" id="fr-contact-feedback-recaptcha"></div>
                    </div>
                    <button class="btn btn-lg u-btn-primary g-font-weight-600 g-font-size-default rounded-3 text-uppercase g-py-15 g-px-30" type="submit" role="button">Senden</button>
                </form>
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                <!-- End Contact Form -->
            </div>

           {# <div class="col-lg-4 g-mb-60">
                <!-- Google Map -->
                <div id="GMapCustomized-light" class="js-g-map embed-responsive embed-responsive-21by9 g-height-300" data-type="custom" data-lat="52.13356" data-lng="7.55142" data-zoom="12" data-title="Holzwerkerei 67" data-styles='[["", "", [{"saturation":-20},{"lightness":20},{"visibility":"simplified"}]], ["", "labels", [{"visibility":"on"}]], ["water", "", [{"color":"#bac6cb"}]] ]'
                     data-pin="true" data-pin-icon="../../assets/img/icons/pin/green.png">
                </div>
                <!-- End Google Map -->
            </div>#}
        </div>
    </section>
{% endblock %}
