{% extends 'base.html.twig' %}

{% block content %}
    <!-- Promo Block -->
    <section class="g-brd-bottom g-brd-gray-light-v4">
        <div class="container g-py-150">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">{{ service.title }}</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End Promo Block -->

    <section class="container g-py-100">
        <div class="g-mb-50 service-container">
            {{ service.text | raw }}
        </div>
    </section>
{% endblock %}