<h1>Hallo Franz, </h1>

<p>Du hast eine neue Nachricht von {{ contactName }} bekommen: </p>

<p>{{ contactMessage }}</p>

<p>Du kannst {{ contactName }} an die folgende Emailadresse antworten : <strong>{{ contactEmail }}</strong></p>

<p>Viele Grüße !</p>