<h1>Hallo Franz, </h1>

<p>Du hast eine neue Nachricht bekommen: </p>

<p>Von : <strong>{{ contactName }}</strong></p>
<p>Email : <strong>{{ contactEmail }}</strong></p>
<p><i>"{{ contactMessage }}</i>"</p>

<p>Du kannst {{ contactName }} an die Emailadresse antworten</p>

<p>Viele Grüße !</p>