<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link href="{{ styles('main') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Home</h1>

        <p>{{ message }} </p>

        <script src="{{ scripts('main') }}"></script>
    </body>
</html>
