<section class="u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3--after">
    <div class="container u-bg-overlay__inner text-center g-pt-150 g-pb-70">
        <div class="g-mb-100">
            <h1 class="g-color-white g-font-weight-500 g-font-size-50 g-font-size-70--md g-line-height-1_2 g-letter-spacing-5 mb-4">{{ teaserTitle }}</h1>
            <span class="d-block lead g-font-size-20 g-font-size-30--md g-color-white g-letter-spacing-2">{{ teaserTitle2 }}</span>
        </div>

        <div class="g-pos-abs g-left-0 g-right-0 g-z-index-2 g-bottom-30">
            <a class="js-go-to btn u-btn-outline-white g-color-white g-bg-white-opacity-0_1 g-color-black--hover g-bg-white--hover g-font-weight-600 text-uppercase g-rounded-50 g-px-30 g-py-11" href="#" data-target="#content">
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
    </div>
</section>